[Unit]
Description=Whalefin Login Manager
After=systemd-user-sessions.service
Conflicts=getty@tty1.service

[Service]
ExecStart=whalefin
Restart=always
RestartSec=5
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
NoNewPrivileges=false

[Install]
Alias=display-manager.service
