[Unit]
Description=Whalefin Login Manager
After=systemd-user-sessions.service

[Service]
ExecStart=whalefin
Restart=always

[Install]
Alias=display-manager.service
